<!-- this html file provides the basic formatting of the content of my personal website -->

<!<!DOCTYPE html> <!-- this is the format for HTML comments -->
<html>
<body bgcolor="#EBF4F4"
text="#195A5A"
link="#6D82D1"
vlink="#EE7BF0"
alink="#7BF0A9"
bgproperties="fixed">

  <h2>Hi guys! Welcome to my new website.</h2>
  <p>Have fun exploring and checking out my stuff.
  </p>
<img
src="http://getwallpapers.com/wallpaper/full/2/8/4/418379.jpg"	URL or filename of image (required!)
alt="Mountain background"
align="center"
width="80%"
height="80%"
border="3"
vspace="5"
hspace="5">
</body>
</html>
